In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
Transformed_Housing_Data = pd.read_csv('/content/drive/MyDrive/Notebooks/Module 4 data exploration /3. categorical variable Data Exploration/Transformed_Housing_Data')

In [10]:
from statsmodels.formula.api import ols
import statsmodels.api as sm
Transformed_Housing_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Sale Price                                 21609 non-null  float64
 2   No of Bedrooms                             21609 non-null  int64
 3   No of Bathrooms                            21609 non-null  float64
 4   Flat Area (in Sqft)                        21609 non-null  float64
 5   Lot Area (in Sqft)                         21609 non-null  float64
 6   No of Floors                               21609 non-null  float64
 7   Waterfront View                            21609 non-null  object
 8   No of Times Visited                        21609 non-null  int64
 9   Condition of the House                     21609 non-null  object
 10  Overall Grade                              21609 non-null  int64
 11  Area of the House from Basement (in Sqft)  21609 non-null  float64
 12  Basement Area (in Sqft)                    21609 non-null  int64
 13  Age of House (in Years)                    21609 non-null  int64
 14  Zipcode                                    21609 non-null  float64
 15  Latitude                                   21609 non-null  float64
 16  Longitude                                  21609 non-null  float64
 17  Living Area after Renovation (in Sqft)     21609 non-null  float64
 18  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 19  Ever Renovated                             21609 non-null  object
 20  Years Since Renovation                     21609 non-null  int64
dtypes: float64(10), int64(8), object(3)
memory usage: 3.5+ MB

In [12]:
# need to change var name to Sale_Price .... etc as space is not accepted as variable name in python
Transformed_Housing_Data = Transformed_Housing_Data.rename(columns= {'Sale Price' : 'Sale_Price'})
Transformed_Housing_Data = Transformed_Housing_Data.rename(columns= {'Waterfront View' : 'Waterfront_View'})
Transformed_Housing_Data = Transformed_Housing_Data.rename(columns= {'Condition of the House' : 'Condition_of_the_House'})
Transformed_Housing_Data = Transformed_Housing_Data.rename(columns= {'Ever Renovated' : 'Ever_Renovated'})

In [13]:
Transformed_Housing_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Sale_Price                                 21609 non-null  float64
 2   No of Bedrooms                             21609 non-null  int64
 3   No of Bathrooms                            21609 non-null  float64
 4   Flat Area (in Sqft)                        21609 non-null  float64
 5   Lot Area (in Sqft)                         21609 non-null  float64
 6   No of Floors                               21609 non-null  float64
 7   Waterfront_View                            21609 non-null  object
 8   No of Times Visited                        21609 non-null  int64
 9   Condition_of_the_House                     21609 non-null  object
 10  Overall Grade                              21609 non-null  int64
 11  Area of the House from Basement (in Sqft)  21609 non-null  float64
 12  Basement Area (in Sqft)                    21609 non-null  int64
 13  Age of House (in Years)                    21609 non-null  int64
 14  Zipcode                                    21609 non-null  float64
 15  Latitude                                   21609 non-null  float64
 16  Longitude                                  21609 non-null  float64
 17  Living Area after Renovation (in Sqft)     21609 non-null  float64
 18  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 19  Ever_Renovated                             21609 non-null  object
 20  Years Since Renovation                     21609 non-null  int64
dtypes: float64(10), int64(8), object(3)
memory usage: 3.5+ MB

In [14]:
mod = ols('Sale_Price ~ Condition_of_the_House',data= Transformed_Housing_Data).fit()

In [15]:
Anova_Table = sm.stats.anova_lm(mod , typ = 2)

In [16]:
print(Anova_Table)

                              sum_sq       df         F        PR(>F)
Condition_of_the_House  1.441831e+13      4.0  58.25563  5.447605e-49
Residual                1.336752e+15  21604.0       NaN           NaN

In [18]:
mod = ols('Sale_Price ~ Waterfront_View',data= Transformed_Housing_Data).fit()
sm.stats.anova_lm(mod , typ=2)

                       sum_sq       df           F         PR(>F)
Waterfront_View  3.283737e+13      1.0  538.192683  1.275558e-117
Residual         1.318333e+15  21607.0         NaN            NaN

In [19]:
mod = ols('Sale_Price ~ Zipcode',data= Transformed_Housing_Data).fit()
sm.stats.anova_lm(mod , typ=2)

                sum_sq       df          F        PR(>F)
Zipcode   2.503765e+12      1.0  40.112844  2.444308e-10
Residual  1.348666e+15  21607.0        NaN           NaN

In [20]:
mod = ols('Sale_Price ~ Ever_Renovated',data= Transformed_Housing_Data).fit()
sm.stats.anova_lm(mod , typ=2)

                      sum_sq       df           F        PR(>F)
Ever_Renovated  1.998463e+13      1.0  324.378469  5.419055e-72
Residual        1.331185e+15  21607.0         NaN           NaN